*,
*::before,
*::after {
    box-sizing: border-box;
}

::placeholder {
    opacity: 0.4;
}

input[type="text"],
input[type="number"],
textarea {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
a {
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

button,
select {
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}

$primary: #428a60;
$secondary: #ffffff;
$gray: #f8f8f8;
$gap: 0.5em;

body {
    margin: 0;
    font-size: 16px;
    background-color: #f4f4f4;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    background-color: $secondary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto 4em auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
}
.form__container-small {
    min-width: 100%;
    width: 100%;
    background-color: $gray;
    display: grid;
    place-items: center;
}

input {
    font-size: 16px;
    @extend %monts-semi;
    padding: 1.1em;
    border-radius: 0.3em;
    outline: none;
    border: 1px solid #e4e4e4 !important;
    background-color: #f8f8f8 !important;
    &:focus {
        border: 1px solid #000 !important;
    }
}
.input__text {
    color: #000;
    font-size: 12px;
    @extend %monts-extra;
    text-transform: uppercase;
}
.input__tel {
    max-width: 185px;
}
.input__span {
    color: $primary;
}

// .input__region {                                      // section
//     @extend %monts-semi;
//     font-size: 14px;
//     border: 1px solid #e4e4e4 !important;
//     background-color: #f8f8f8 !important;
//     border-radius: 0.3em;
//     padding: 0 0 0 1em;
//     &:focus {
//         border: 1px solid #000 !important;
//     }
// }

.input__region {
    @extend %monts-semi;
    font-size: 14px;
    border: 1px solid #e4e4e4 !important;
    background-color: #f8f8f8 !important;
    border-radius: 0.3em;
    padding: 0 0 0 1em;
    max-width: 115px;
    width: 100%;
    position: relative;
    display: grid;
    align-items: center;
    margin: 0 0 0 auto;
    &::before {
        content: url(../img/arrow_down.svg);
        position: absolute;
        top: 30%;
        left: 77%;
    }
    &::after {
        content: url(../img/flag.svg);
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
}
