@media (max-width: 1024px) {
    .container {
        height: 100%;
    }
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
    }
    .card__section_1 {
        padding: 2em 2em 0 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        background-position: center;
    }
    .card__text {
        font-size: 18px;
        position: static;
    }
    .card__text-top {
        text-align: start;
    }
    .card__text-btm {
        text-align: end;
    }
    .form {
        height: 100%;
        grid-template-rows: 0.37fr 1fr;
        grid-row-gap: 0.25em;
    }
    .form__button {
        grid-area: c;
    }
    .form__title {
        padding: 0.75em 0;
    }
    .form__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-template-areas:
            "a b"
            "c c";
        max-width: 100%;
        grid-column-gap: 5em;
        grid-row-gap: 0;
        padding: 0.5em 0.25em 0 0.25em;
        margin: 0;
    }
    .input__region {
        margin: 0 0 0 auto;
    }
}

@media (max-width: 1024px) and (min-height: 768px) {
    .card__section_1 {
        background-image: url(../img/full_group-medium.png);
        background-size: auto;
    }
}

@media (max-width: 1024px) and (min-height: 1366px) {
    .card__section_1 {
        background-image: url(../img/full_group.png);
        background-size: 100%;
    }
}

@media (max-width: 992px) {
    .card__section_1 {
        background-image: url(../img/full_group-medium.png);
        background-position: center;
    }
}

@media (max-width: 767px) {
    .container {
        padding-bottom: 0.25em;
    }
    .card__section_1 {
        padding: 0.5em 1em 0 1em;
        background-image: url(../img/product.png);
        background-position: center;
        background-size: auto;
    }
    .form__title {
        padding: 0.5em 0;
        max-width: 100%;
        font-size: 20px;
    }
    .form__container {
        max-width: 320px;
        margin: auto;
        padding: 0;
        grid-row-gap: 2.25em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
            "a"
            "b"
            "c";
    }
    .form__button {
        grid-area: c;
        margin: auto 0 0 0;
        &::before {
            left: 65%;
            top: 34%;
        }
    }
    .form__section-1 {
        grid-area: a;
    }
    .form__section-2 {
        grid-area: b;
    }
    .input__region {
        &::before {
            left: 78%;
        }
        &::after {
            left: 55%;
        }
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0;
    }
    .card {
        height: 100%;
        grid-template-rows: 0.75fr 1fr;
        background: $secondary;
        grid-template-areas:
            "a"
            "b"
            "c";
    }
    .card__section_1 {
        grid-area: a;
        padding: 1em 0.5em 0 0.5em;
        background-image: url(../img/product_mobile.png) !important;
    }
    .card__section_2 {
        grid-area: b;
        padding: 0 0.5em 0.5em 0.5em;
    }
    .card__text {
        color: #000;
        font-size: 18px;
        position: static;
    }
    .card__text-top {
        text-align: start;
    }
    .card__text-btm {
        text-align: end;
    }
    .card__section_3 {
        grid-area: c;
        display: block;
        background-color: #f8f8f8;
    }
    .card__container--small {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding: 0.55em 0;
    }
    .form__container-small {
        background-color: $secondary;
    }
    .form__title {
        font-size: 22px;
        padding: 0;
        max-width: 100%;
        background-color: $secondary;
    }
    .form__container {
        grid-row-gap: 0.75em;
        padding: 0;
    }
    .input {
        padding: 0.95em;
    }
    .input__region {
        padding: 0 0 0 0.6em;
    }
}

// @media (orientation: landscape) and (max-width: 992px) {
//     .container {
//         padding-bottom: 0;
//     }
//     .card {
//         height: 100%;
//         min-height: auto;
//         grid-template-rows: 1fr 1fr;
//     }
//     .card__section_1 {
//         padding: 0.5em 1em 0 1em;
//         background-position: center;
//         background-image: url(../img/product_nano.png);
//     }
//     .form__title {
//         padding: 0.5em 0;
//         max-width: 100%;
//         font-size: 20px;
//     }
//     .form__container-small {
//         background-color: $secondary;
//     }
//     .form__container {
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: min-content;
//         align-items: center;
//         grid-template-areas:
//             "a b"
//             "c c";
//         max-width: 100%;
//         grid-row-gap: 1em;
//         grid-column-gap: $gap;
//         justify-content: center;
//         padding: 0.5em 0.25em 0 0.25em;
//     }
//     .form__button {
//         margin-bottom: 0.25em;
//         grid-area: c;
//         &::before {
//             left: 65%;
//             top: 34%;
//         }
//     }

//     .form__section-1 {
//         grid-area: a;
//     }
//     .form__section-2 {
//         grid-area: b;
//     }
//     .input__region {
//         &::before {
//             left: 78%;
//         }
//         &::after {
//             left: 55%;
//         }
//     }
// }

// @media (orientation: landscape) and (max-height: 320px) {
//     .card {
//         grid-template-rows: 1fr 1fr;
//     }
//     .card__section_1 {
//         background-image: url(../img/product_nano.png) !important;
//         background-size: auto;
//         background-color: $primary;
//     }
//     .card__section_3 {
//         display: none;
//     }
//     .card__container--small {
//         padding: 0.25em 0;
//     }
//     .form__container {
//         grid-row-gap: 0.5em;
//     }
//     .card__text {
//         color: $secondary;
//     }
//     .input__region {
//         &::after {
//             display: none;
//         }
//         &::before {
//             left: 73%;
//         }
//     }
// }
