%monts-bold {
    font-family: "Montserrat-Bold";
    font-weight: 700;
}

%monts-extra {
    font-family: "Montserrat-ExtraBold";
    font-weight: 650;
}

%monts-semi {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
}