@import "global";
@import "vars";
@import "fonts";

.card {
    min-height: 500px;
    box-shadow: 10px 3px 29px 5px rgba(34, 60, 80, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
    &__section_1 {
        background-image: url(../img/full_group.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: auto;
        overflow: hidden;
        position: relative;
    }
    &__section_3 {
        display: none;
        position: relative;
        &::before {
            content: url(../img/lock.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__text {
        font-size: 18px;
        @extend %monts-bold;
        color: $secondary;
        position: absolute;
        transition: 0.3s linear;
        z-index: 2;
        &:hover {
            color: #29794a;
        }
    }
    &__text-top {
        left: 5%;
        top: 6%;
    }
    &__text-btm {
        left: 5%;
        top: 90%;
        text-transform: uppercase;
        z-index: 1;
    }
    &__secure {
        font-size: 14px;
        @extend %monts-bold;
    }
}

.form {
    display: grid;
    grid-template-rows: 0.37fr 1fr;
    background-color: $secondary;
    height: 100%;
    &__section-1 {
        display: grid;
        grid-row-gap: $gap;
        width: 100%;
    }
    &__section-2 {
        display: grid;
        grid-row-gap: $gap;
        width: 100%;
    }
    &__section-3 {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }
    &__title {
        font-size: 30px;
        @extend %monts-extra;
        max-width: 320px;
        text-align: center;
    }
    &__button {
        background-color: $primary;
        display: block;
        position: relative;
        border-radius: 0.3em;
        &:hover .btn--form {
            color: $primary;
            background-color: $secondary;
            border: 1px solid #000;
        }
        &::before {
            content: url(../img/arrow_right.svg);
            position: absolute;
            top: 35%;
            left: 70%;
        }
    }
    .btn--form {
        font-size: 14px;
        @extend %monts-semi;
        color: $secondary;
        background-color: transparent;
        border: 1px solid $primary;
        padding: 0.9em;
        width: 100%;
        transition: 0.3s linear;
        border-radius: 0.3em;
    }
}

@import "media";
